h1 {
  color: rgb(255, 221, 0);
}
body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/23/Flag_of_Catania.svg/1280px-Flag_of_Catania.svg.png");
  background-position: center center;
}
table,
tr,
td,
th {
  width: 40%;
}
tr,
th,
td {
  padding: 5%;
}
#firstCol {
  color: red;
}

#secondCol {
  color: blue;
}
